
button{
    border-radius: 4px;
    background-color: aquamarine;
    
}
button:hover{
    background-color: lightsteelblue;
}

*{
    margin: auto;
}
.calculator{
    border: 1rem;
    align-content:stretch;
    width: 25%;
    background-color: lightslategray;
    height: 75%;
    padding: 2rem;
    margin: auto;

}
#myCounts{
    border-width: 10rem;
    border-color: black;
    background-color: blanchedalmond;
}
p{
    font-size: 20pt;
    
}

    